<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Perfil</title>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main>
      <h3>Bienvenid@ <%=loggedUser.nombre%></h3>
      <div class="userList">
        <div class="user">
          <img src="/images/profileImages/<%=loggedUser.avatar%>" alt="" />
          <P class="id">ID: <%=loggedUser.id%></P>
          <P>Nombre: <%=loggedUser.nombre%></P>
          <P>Apellidos: <%=loggedUser.apellido%></P>
          <P>email: <%=loggedUser.email%></P>
          <form method="post" action="/users/logout">
            <button class="btn-borrar w-100" type="submit">Log Out</button>
          </form>
          <form method="get" action="/users/edit">
            <button class="btn-editar w-100" type="submit">Edit</button>
          </form>
        </div>
      </div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
