<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/products.css">
    <link rel="stylesheet" href="/stylesheets/general.css">
    <title>Detalle de producto</title>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="detail-main">
      <div class="detail-container">
        <div class="detail-form">
          <div class="detail-header">
            <!-- breadcrums -->
            <div class="breadcrumb">
              <span class="breadcrumb-category"><%= productDetail.categorias[0].descripcion %>
              <i class="fa fa-angle-right"></i>
              <span class="breadcrumb-name"><%=productDetail.nombre%></span>
            </div>
            <div class="indexing">
              <span><i class="fa fa-angle-left"></i> Prev</span>
              <span class="small">2 of 10</span>
              <span>Sig<i class="fa fa-angle-right"></i></span>
            </div>
          </div>
          <div class="detail-body">
            <div class="detail-images">
              <!-- Imagen principal -->
              <div class="detail-main-image">
              <img src="/images/products/<%=productDetail.imagenes[0].nombreArchivo%>"/>
              </div>
              <!-- Imagenes secundarias -->
              <% for( let i = 1; i < productDetail.imagenes.length; i++ ) {%>
                <div class="detail-secondary-image">
                <img src="/images/products/<%=productDetail.imagenes[i].nombreArchivo%>"/>
                <% } %>
              </div>
            </div>
            <div class="detail-description">
              <h3><%=productDetail.nombre%></h3>
              <h4>AR$ <%=productDetail.precio%></h4>
              <div class="designer">
                <h5>Color:<%=productDetail.color.descripcion%></h5>
              </div>
              <div class="designer">
                <h5>Categorias:</h5>
                <ul>
                  <% for( let i = 0; i < productDetail.categorias.length; i++ ) { %>
                    <li><%=productDetail.categorias[i].descripcion %>
                    </li>
                    <% } %>
                </ul>
              </div>
              <div class="designer">
                <h5>Talle: <%=productDetail.talle.descripcion%></h5>
              </div>
              <div class="designer">
                <h5>Descripcion: <%=productDetail.descripcion%></h5>
              </div>
            </div>
          <div class="options">
            <a href="/cart/add/<%= productDetail.id %>">
              <button id="toCart">Agregar al carrito</button>
            </a>
            <a href="/products/edit/<%= productDetail.id %>">
              <button id="edit">Editar Producto</button>
            </a>
          </div>
          <div class="open_wish">
              <a href="#">Abrir guía de talles</a>
            </div>
            <div class="wishlist">
              <a href="#"><i id="cora" class="far fa-heart"></i> Agregar a preferidos
              </a>
            </div>
          </div>
          <div class="share">
            <h4>Compartir</h4>
            <div class="social">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-google-plus-g"></i>
            </div>
            <div class="description">
              <h4>Descripción</h4>
              <p><%=productDetail.descripcion%></p>
            </div>
    <script src="/js/productDetail.js"></script>
   
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
                      