<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Detalle de producto</title>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="detail-main">
      <div class="detail-container">
        <div class="detail-card">
          <div class="detail-form">
            <div class="detail-left-side">
              <!-- breadcrums -->
              <div class="woman">
                <h5><%= productDetail.categorias[0].descripcion %></h5>
                <i class="fa fa-angle-right"></i>
                <p><%=productDetail.nombre%></p>
              </div>
              <div class="images">
                <div class="img_girl_left">
                  <!-- Imagenes secundarias -->
                  <% for( let i = 1; i < productDetail.imagenes.length; i++ ) {
                  %>
                  <span
                    ><img
                      src="/images/products/<%=productDetail.imagenes[i].nombreArchivo%>"
                  /></span>
                  <% } %>
                </div>
                <!-- Imagen principal -->
                <span
                  ><img
                    src="/images/products/<%=productDetail.imagenes[0].nombreArchivo%>"
                /></span>
              </div>
            </div>
            <div class="detail-right-side">
              <div class="indexing">
                <span><i class="fa fa-angle-left"></i> Prev</span>
                <small>2 of 10</small>
                <span>Sig<i class="fa fa-angle-right"></i></span>
              </div>
              <h3><%=productDetail.nombre%></h3>
              <h4>AR$ <%=productDetail.precio%></h4>
              <div class="designer">
                <h5>Color: <%=productDetail.color.descripcion%></h5>
              </div>
              <div class="designer">
                <h5>
                  Categorias:
                  <div>
                    <br />
                    <ul>
                      <% for( let i = 0; i < productDetail.categorias.length;
                      i++ ) { %>
                      <li><%=productDetail.categorias[i].descripcion %></li>
                      <% } %>
                    </ul>
                  </div>
                </h5>
              </div>
              <!-- <div class="color">
                <span></span>
                <span></span>
                <span></span>
              </div> -->
              <div class="options">
                <div class="size">
                  <select>
                    <option>
                      <%="Talle: "+productDetail.talle.descripcion%>
                    </option>
                  </select>
                </div>

                <a href="/cart/add/<%= productDetail.id %>"
                  ><button id="toCart">Agregar al carrito</button></a
                >
                <a href="/products/edit/<%= productDetail.id %>"
                  ><button id="edit">Editar Producto</button></a
                >
              </div>
              <div class="open_wish">
                <a href="#">Abrir guía de talles</a>
                <div class="wishlist">
                  <a href="#"
                    ><i id="cora" class="far fa-heart"></i> Agregar a
                    preferidos</a
                  >
                </div>
              </div>
              <div class="description">
                <h4>Descripción</h4>
                <p><%=productDetail.descripcion%></p>
              </div>
              <div class="share">
                <h4>Compartir</h4>
                <div class="social">
                  <i class="fab fa-facebook-f"></i>
                  <i class="fab fa-twitter"></i>
                  <i class="fab fa-instagram"></i>
                  <i class="fab fa-google-plus-g"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="/js/productDetail.js"></script>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
