<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <script src="/js/registro.js"></script>
    <script src="https://kit.fontawesome.com/3c9eeab8c1.js" crossorigin="anonymous"></script>
    <title>Registro</title>
  </head>

  <body>
   
    <%- include('./partials/header') %>
   
    <main class="form-signin">
        <div>
          <a class="logo" href="/">CLESSIDRA</a>
        </div>
 
        
      <form
        method="post"
        action="/users/registro"
        enctype="multipart/form-data"
        class="registerForm"
      >
        <h1 class="form-title h3 mb-3 fw-normal">
          Bienvenido/a!<br />Por favor registrate con tus datos:
        </h1>
       
        <div class="errorBox">
          <ul class="errorList">
         
              
          </ul></div>
        <div class="form-floating" id="nameInput">
          <input
            type="text"
            class="form-control <%= locals.errors && errors.userName ? 'is-invalid' : null %>" 
            id="nombre"
            name="userName"
            placeholder="Juan"
            value="<%= locals.oldData ? oldData.userName : null %>">
          <label for="nombre">Nombre *</label>
          <% if (locals.errors && errors.userName) { %>
            <p class="errortext"> <%= errors.userName.msg %> </p>
          <% } %>
          <p id="nameError" class="errortext"></p>
          
        </div>
        <div class="form-floating" id="surnameInput">
          <input
            type="text"
            class="form-control <%= locals.errors && errors.userLastName ? 'is-invalid' : null %>"
            id="apellido"
            name="userLastName"
            placeholder="Perez"
            value="<%= locals.oldData ? oldData.userLastName : null %>">
          <label for="apellido">Apellido *</label>
          <% if (locals.errors && errors.userLastName) { %>
            <p class="errortext"> <%= errors.userLastName.msg %> </p>
          <% } %>
          <p id="apellidoError" class="errortext"></p>
          
        </div>
        <div class="form-floating" id="emailInput">
          <input
            type="email"
            class="form-control <%= locals.errors && errors.userEmail ? 'is-invalid' : null %>"
            id="email"
            name="userEmail"
            placeholder="name@example.com"
            value="<%= locals.oldData ? oldData.userEmail : null %>">
          <label for="email">Correo electrónico *</label>
          <% if (locals.errors && errors.userEmail) { %>
            <p class="errortext"> <%= errors.userEmail.msg %> </p>
          <% } %>
          <p id="emailError" class="errortext"></p>
         
        </div>
        
        <div class="form-floating" id="passwordInput">
          <input
            type="password"
            class="form-control <%= locals.errors && errors.userPassword ? 'is-invalid' : null %>"
            id="password"
            name="userPassword"
            placeholder="Contraseña"
          />
          <label for="password">Elegir contraseña *</label>
          <% if (locals.errors && errors.userPassword) { %>
            <p class="errortext"> <%= errors.userPassword.msg %> </p>
          <% } %>
          <p id="contrasenaError" class="errortext"></p>
         
        </div>
        <br> 
        <div class="form-floating-img" id="imageInput">
         <label class="uploadFile <%= locals.errors && errors.profilePic ? 'is-invalid' : null %>" 
         for="profilePic">Elegir foto de perfil *</label> 
          <input
            type="file" name="profilePic" id="profilePic"  accept=".jpg, .jpeg, .png" 
            value="<%= locals.oldData ? oldData.profilePic : null %>">
            <p id="imgError" class="errortext"></p>
          
        </div>
        <br />
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" name="userTermsAccept" id="terminosCondiciones"/>
            Acepto los <a href="#!">Términos y Condiciones *</a>
          </label>
          <% if (locals.errors && errors.userTermsAccept) { %>
            <p class="errortext"> <%= errors.userTermsAccept.msg %> </p>
          <% } %>
          <p id="termsError" class="errortext"></p>
        </div>
        <button class="btn-enviar w-100" type="submit" id="submit">Registrarme</button>
     
      </form>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
